---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Box-sizing

* {
    box-sizing: border-box;
}

// Transition it all

* {
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

// Body reset

body {
	margin: 0;
	border: 0;
	padding: 0;
}

// Screen reader class

.screen-reader {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$serif-font-family: Georgia, serif;

$spacing-unit:     30px;

$text-color:       #666666;
$background-color: #ffffff;
$brand-color:      #e9280b;

$grey-color:       #555;
$grey-color-light: #f2f2f2;
$grey-color-dark:  darken($grey-color, 25%);

.vacio1 {
  height: 500px;
  background-color: #fff;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "pintsize",
        "header",
        "hero",
        "buttons",
        "typography",
        "blog",
        "footer",
        "home",
        "evento",
        "equipo"
;
