<footer class="main-footer">
	<div class="que-es-ted">
		<div class="que-es-ted-content">
			<h3>Qué es TED y TEDx</h3>
			<p>TED es una organización sin fines de lucro cuya misión es difundir ideas que valen la pena. TED comenzó como una conferencia de cuatro días en California en 1984 y ha crecido para apoyar a aquellas ideas que intentan cambiar el mundo por medio de distintas iniciativas.</p>
			<a href="http://www.ted.com/about/our-organization" class="button main-button">Más información</a>
		</div>
	</div>
	<div class="bottom-footer">
		<div class="footer-container flex">
			<div class="col col--12 col__md--6 footer-logo"><a href="{{ site.url }}{{ site.baseurl }}" class="footer-logo"><span class="screen-reader">TEDxJoven@CNBA</span></a></div>
			<div class="col col--12 col__md--6 links">
				<div class="flex">
					<div class="col col--6">
						<h3 class="list-header">Secciones</h3>
						<ul class="links-list">
							<li><a href="{{ site.url }}{{ site.baseurl }}">Inicio</a></li>
							<li><a href="{{ site.url }}{{ site.baseurl }}/evento/">Evento</a></li>
							<li><a href="{{ site.url }}{{ site.baseurl }}/equipo/">Equipo organizador</a></li>
							<li><a href="{{ site.url }}{{ site.baseurl }}/blog/">Blog</a></li>
							<li><a href="{{ site.url }}{{ site.baseurl }}/contacto/">Contacto</a></li>
						</ul>
					</div>
					<div class="col col--6">
						<h3 class="list-header">Seguinos</h3>
						<ul class="links-list">
							<li><a href="https://www.facebook.com/TEDxJovenCNBA/">Facebook</a></li>
							<li><a href="https://twitter.com/TEDxJovenCNBA/">Twitter</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="final-footer">
			<div class="footer-container">
				<a href="http://www.cnba.uba.ar/">Colegio Nacional de Buenos Aires</a>
				<a href="#arriba">Arriba</a>
			</div>
	</div>
</footer>

<script src="{{ site.url }}{{ site.baseurl }}/js/functions.js"></script>