<div class="header" id="arriba">
	<a href="{{ site.url }}{{ site.baseurl }}" class="logo"><h1 class="screen-reader">TEDxJoven@CNBA</h1></a>

	<a href="" class="main-button menu-toggle" id="menu-toggle">Menu</a>

	<nav class="main-menu" id="main-menu">
		<ul>
			<li><a href="{{ site.url }}{{ site.baseurl }}">Inicio</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}evento.html">Evento</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}equipo.html">Equipo organizador</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}blog.html">Blog</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}contacto.html">Contacto</a></li>
		</ul>
	</nav>
</div>