{% if page.hero-class == "hero-blog" %}
<!-- Para hero de blog -->
<div class="hero {{ page.hero-class }}">
	<div class="hero-content flex">
		{% for post in site.posts limit:1 %}
			<a href="{{ post.url }}" class="hero-image col col--12 col__lg--5" style="background-image:url({{ site.url }}{{ site.baseurl }}{{ post.image }})"></a>
			<a href="{{ post.url }}" class="hero-text col col--12 col__lg--7">
				<h2>{{ post.title }}</h2>
				<p>{{ post.content | strip_html | truncatewords:30}}</p>
			</a>
		{% endfor %}
	</div>
</div>

{% else %}
<!-- Default -->
<div class="hero {{ page.hero-class }}" style="background-image: url({{ site.baseurl }}{{ page.hero-bg }});">
	<div class="hero-content">
		<h2>{{ page.hero-title }}</h2>
		<p>{{ page.hero-description }}</p>
		<a href="{{ site.baseurl }}{{ page.hero-button-link }}" class="main-button">{{ page.hero-button-text }}</a>
	</div>
</div>

{% endif %}