@mixin button($bg) {
	background-image: -webkit-linear-gradient($bg 0%, darken($bg, 10%) 100%);
	background-image: -o-linear-gradient($bg 0%, darken($bg, 10%) 100%);
	background-image: linear-gradient($bg 0%, darken($bg, 10%) 100%);
	padding: 7px 20px;
	border: 1px solid darken(darken($bg, 10%), 8%);
	border-radius: 3px;
	font-weight: bold;
	color: darken($bg, 65%);
	text-shadow: 0 1px 0 #fff;
	text-align: center;
	transition: background-image 1s ease;

	&:hover {
		background-image: -webkit-linear-gradient(darken($bg, 2%) 0%, darken(darken($bg, 10%), 2%) 100%);
		background-image: -o-linear-gradient(darken($bg, 2%) 0%, darken(darken($bg, 10%), 2%) 100%);
		background-image: linear-gradient(darken($bg, 2%) 0%, darken(darken($bg, 10%), 2%) 100%);
	}

	&:focus {
		outline-offset: -2px;
	}
}

.button-sm {
	padding: 4px 15px !important;
	font-size: 0.8em;
}

.grey-button {
	@include button(#ECECEC);
}

.main-button {
	@extend .grey-button;
}

.facebook-button {
	@include button(#3B5998);
	color: white;
	text-shadow: none;
}

.twitter-button {
	@include button(#55ACEE);
	color: white;
	text-shadow: none;
}